.section {
    margin-top: 2rem;
}

.section input {
    margin-bottom: 1rem;
}

.message-left {
    display: flex;
    flex-direction: row;
}

.message-left i {
    align-self: flex-end;
    margin-right: 32px;
}

.topic {
    margin-top: 3rem;
}

.code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-button {
    margin: 12px 12px 0;
    width: 140px;
}

img.qr {
    max-width: 100%;
}

h4 {
    font-size: 13px;
}

footer {
    margin-top: 3rem;
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 1em;
    }  
    
    footer {
        font-size: 9px;
    }
}